.naruto-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
  color: white;
  border-radius: 20px;
  transform-style: preserve-3d;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  transition: height 0.3s ease-in-out;
  max-height: 550px;
}

.naruto-cards.konohagakure {
  background-color: #fbbc42;
  background-image: url("../assets/card-types/konohagakure.svg");
  background-repeat: no-repeat;
  background-position: 80px 180px;
  background-size: 90%;
}

.naruto-cards.sunagakure {
  background-color: #d4a017;
  background-image: url("../assets/card-types/sunagakure.svg");
  background-repeat: no-repeat;
  background-position: 100px 180px;
  background-size: 90%;
}

.naruto-cards.kirigakure {
  background-color: #4a90e2;
  background-image: url("../assets/card-types/kirigakure.svg");
  background-repeat: no-repeat;
  background-position: 100px 180px;
  background-size: 90%;
}

.naruto-cards.iwagakure {
  background-color: #8b4513;
  background-image: url("../assets/card-types/iwagakure.svg");
  background-repeat: no-repeat;
  background-position: 100px 140px;
  background-size: 90%;
}

.naruto-cards.kumogakure {
  background-color: #f5f5f5;
  background-image: url("../assets/card-types/kumogakure.svg");
  background-repeat: no-repeat;
  background-position: 100px 180px;
  background-size: 90%;
}

.naruto-cards.unknown {
  background-color: #808080;
  background-image: url("../assets/card-types/unknown.svg");
  background-repeat: no-repeat;
  background-position: 100px 180px;
  background-size: 90%;
}

.naruto-cards.amegakure {
  background-color: #5f9ea0;
  background-image: url("../assets/card-types/amegakure.svg");
  background-repeat: no-repeat;
  background-position: 100px 180px;
  background-size: 90%;
}

.inner-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-style: italic;
  color: white;
  transform: translateZ(60px);
  height: 100%;
  width: 100%;
  text-align: center;
}

.inner-element a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.inner-element a p {
  margin: 0;
}

.inner-element .naruto-types {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  font-size: 10px;
  width: 100%;
}

.inner-element .naruto-types img {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 768px) {
  .inner-element img.naruto-character-image {
    min-height: 30%;
  }
}

@media screen and (min-height: 700px) {
  .naruto-cards.naruto-z {
    background-position: 100px 380px;
  }

  .naruto-cards.naruto {
    background-position: 420% 270px;
  }

  .naruto-cards.naruto-gt {
    background-position: 80px 380px;
  }

  .naruto-cards.naruto-super {
    background-position: 420% 220px;
  }
}
