#narutodex {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

#narutodex-navbar {
  position: sticky;
  height: 60px;
  top: 0;
  width: 100%;
  background-color: #f2a30b;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#narutodex-container {
  display: flex;
  position: relative;
  width: 100%;
  min-height: calc(100vh - 160px);
  border-radius: 10px;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.swiper-slide-active .naruto-cards {
  height: 85%;
  max-height: 85%;
  transition: height 0.3s ease-in-out;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#search-bar {
  border: 2px solid #ccc;
  border-radius: 25px;
  min-width: 220px;
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

#search-bar:focus-within {
  border-color: rgb(0, 0, 0);
}

#search-bar input {
  border-radius: 25px 0 0 25px;
  flex: 1 1 auto;
  padding: 8px;
  border: none;
  outline: none;
}

#search-bar select {
  border-radius: 0 25px 25px 0;
  flex: 0 0 30%;
  padding: 8px;
  border: none;
  border-left: 2px solid #ccc;
}

@media screen and (max-width: 768px) {
  #narutodex-container {
    min-height: calc(100vh - 188px);
  }
}
